@import "./variables.css";

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: var(--width-container);
}

section {
  padding: var(--section-padding) 0;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-05 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 2rem;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flexRow-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.flexRow-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRow-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexRow-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexRow-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumn-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
